@model YTCLLM.Models.LocalPasswordModel

<h3 class="bg-warning">
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</h3>

@using(Html.BeginForm("Manage", "Account"))
{
    <h3 class="bg-danger">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
    </h3>

    <div class="row">
        <form>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </form>

        <input type="submit" value="Set password" class="btn btn-lg btn-primary" />
    </div>
}
